<!doctype html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body,html {
      height: 100%;
      background-image: url('Pic/tile_background.png');
    }
    </style>
  </head>
  <body > 
    <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
          <div class="col-6 mx-auto">
              <form action="/login" method="POST">
                <div class="jumbotron">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-8 bg-info text-center">
                      <h2>Login</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="UserName">User Name: </label>
                        <input type="text"
                          class="form-control" name="txtUserName">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="PW">Password</label>
                        <input type="password" class="form-control" name="txtPW">
                      </div>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-md-6 mx-auto">
                      <button type="button" onclick="$('.input').html('')" class="btn btn-secondary">Cancel</button>
                      <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>                  
                  </div>
                  <div class="row text-center">
                    <div class="col-md-6 mx-auto">
                      <a name="" class="" href="/Register.html" role="button">Do not have an account?</a>
                    </div>                  
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
      
      <!--
      <div class="container-fluid bg-light">
          <main class="form-signin">
              <form action="/login" method="post">
                  <div class="form-group">
                    <label for="HIHIHI">Hi: </label>
                    <input type="text"
                      class="form-control" name="Testing_HIHI" id="HIHI" aria-describedby="helpId" placeholder="HIHIHI">
                    <small id="helpId" class="form-text text-muted">For testing</small>
                  </div>
                  <button class="btn btn-secondary" type="button">Cancel</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
              </form>
            </main>
      </div>
      -->
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>